{% extends 'base.html' %}
{% block content %}
<div class="container" style="min-height: 648px;">
    <div class="cart_div">
        <h3>Shipping Address</h3>
        {% for message in messages %}
        <h4>{{message}}</h4>
        {% endfor %}

        <button type="button" onclick="add_address()" style="color: black;">+Add Address</button>
        <br>
        <form action="https://newsite123.herokuapp.com/login/shippingdata" method="post" id="registerform" style="display: none;">
            {% csrf_token %}
            <table style="margin: 50px;">
                <tr>
                    <td style="padding: 10px;"><label for=""> Address Line 1</label></td>
                    <td style="padding: 10px;"><input type="text" name="addressline1" maxlength="50"></td>
                    <td style="padding: 10px;"><label for=""> Address Line 2</label></td>
                    <td style="padding: 10px;"><input type="text" name="addressline2" maxlength="50"></td>
                </tr>
                <tr>
                    <td style="padding: 10px;"><label for=""> City</label></td>
                    <td style="padding: 10px;"><input type="text" name="city" maxlength="50"></td>
                    <td style="padding: 10px;"><label for=""> State</label></td>
                    <td style="padding: 10px;"><input type="text" name="state" maxlength="50"></td>
                </tr>
                <tr>
                    <td style="padding: 10px;"><label for=""> Phone No</label></td>
                    <td style="padding: 10px;"><input type="text" name="phoneno" maxlength="10"></td>
                    <td style="padding: 10px;"><label for=""> Pincode</label></td>
                    <td style="padding: 10px;"><input type="text" name="pincode" maxlength="6"></td>
                </tr>
                <tr>
                    <td style="padding: 10px;"><label for=""> Landmark</label></td>
                    <td style="padding: 10px;"><input type="text" name="landmark" maxlength="100"></td>
                </tr>
            </table>
            <input type="hidden" name="path2" value="{{request.path}}">
            <center style="color: black;"><input type="submit" value="Add"></center>
        </form>
        <br>
        <br>
        <Form action="placeorder" method="post">
            {% csrf_token %}

            {% for i in add %}
            <input type="radio" name='id' value='{{i.id}}' style="float: left;" required>
            <div id=address class="address_div">
                <div style="width: 90%; height: 120px;float: left; height: 100%;">
                    {{i.username.first_name}} {{i.username.last_name}}<br>
                    {{i.Address_line1}}<br>
                    {{i.Address_line2}}<br>
                    {{i.City}}, {{i.State}}, Pin:{{i.Pincode}}<br>
                    {{i.landmark}}<br>
                    {{i.Phone_no}}<br>
                </div>
                <div
                    style="width: 10%; height: 120px; float: left; justify-content: center;display: flex; align-items: center;">
                    <a href="https://newsite123.herokuapp.com/login/deleteaddress/{{i.id}}">
                        <box-icon name='trash'></box-icon>
                    </a>
                </div>
            </div>
            {% endfor %}

            <br>
            <br>
            <a href="" style="color: black;"><input type="submit" value="Place Order"></a>
            <a href="https://newsite123.herokuapp.com/mycart" style="color: black;"><input type="button" value="Back"></a>
        </Form>
    </div>
</div>
{% endblock %}