{% extends 'base.html'%}
{% block footer %}
    <div class="logindiv container">
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
            <h3 style="text-align: center;"><strong><u>Login</u></strong></h3>
            <form action="loguser" method="post">
                {% csrf_token %}
                <input type="hidden" name='path' value="{{path}}">
                <label for="username" style="text-align: left;">Username</label>
                <input type="text" name="username" required><br>
                <label for="password" style="text-align: left;">Password</label>
                <input type="password" name="password" required><br><br>
                <input type="submit" value="Login" style="color: black;">
                <a href="/login/register" style="color: black;"><input type="button" value="Register"></a>
            </form>
    </div>
    
{% endblock%}